<html>
    <head>
        <title>{{point.title}}</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />
    </head>
        <body>
            <div id='map' style='width: 800px; height: 300px;'></div>
                {% load static %}
            
                <script src='{% static 'mapbox.js' %}' type="text/javascript" >var geojson = {{point.coordinate.url}};</script>
                <h1>{{point.title}}</h1>
                <img src = {{point.photo1.image.url}}>
                <img src = {{point.photo2.image.url}}>
                <img src = {{point.photo3.image.url}}>
        </body>
</html>

